body {
    margin:0px;
    background-color: white;
    font-family: helvetica;
}
h1 {
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    
}
h2 {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    
}

h3 {
    color: darkgrey;
    text-align: center;
    font-weight: 100;
    font-kerning: 100;
}

h4 {
    color: #08013d;
}

p {
    color: dimgrey;
    text-align: left;
    font-weight:100;
    font-size: 20px;
}

li {
    color: dimgray;
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    font-family: helvetica;
}

a:link{
    color: darkgrey;
    text-decoration: none;
}
a:visited{
    color: darkgrey;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}